<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>StepSolve LX200</name>
  <service>
    <type>_lx200._tcp</type>
    <port>5002</port>
  </service>
</service-group>
